<form method="post">
    <label>UserName: </label>
    <input type="text" name="username" class="form-control"/>
    <label>Password: </label>
    <input type="text" name="password" class="form-control"/>
    <button class="btn btn-primary">LogIn</button>
</form>
<h2 class="text-bg-success">@ViewData["MENSAJE"]</h2>